@import url(https://fonts.googleapis.com/css?family=Muli:400,700|BioRhyme|Courgette&display=swap);
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './all.scss';

html {
    font-family: 'Muli', sans-serif;
} 

body {
    margin: 0;
    .splash {
        position: relative;        
        .sppb-row-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.35);
            z-index: 1;
        }     
        .carousel-caption {   
            h1 {
                position: relative;
                z-index: 1;
                color: #FFCF00;
                font-size: 2.2rem;
                font-family: 'Courgette', cursive;
                margin: 0;
                margin-bottom: 0.5rem;
                letter-spacing: 1px;
            }
            p {
                position: relative;
                z-index: 1;
                color: #fff;
                font-size: 2rem;
                margin: 0;
                font-weight: 600;
            }
        }
        .carousel-caption {
            top:40%;
            bottom: inherit;
            z-index: 1;
        }
        .carousel-indicators li {
            width: 10px;
            height: 10px;
            border-radius: 100%;
          }
    }        
    .section {
        padding:2rem 0;
        h2 {
            // color: #FFCF00;
            font-size: 2.2rem;
            font-family: 'Courgette', cursive;
        }
    }
}